footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: orange;
    color: white;
}

footer .copyright{
    position: absolute;
    bottom: 0;
    left: 25%;
    background-color: white;
    color: orange;
}

nav a{
    color: white;
    font-size: 20px;
}

nav a:hover{
    color:blue;
}

.copyright{
    font-size: 20px;
    text-align: center;
}
/* ======================== */
/* 
    Ignore the following styles. They are not important to achieve the effect.
    I'm only using them for looks (overall page background/font styles/centering content).
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* ======================== */
.icons {
    display: flex;
    column-gap: 25px;
}

.icon {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
}

.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}
