html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 170px;
}
footer {
    width: 100%;
    height: 150px;
    /*background: #3167b1;*/
    position: absolute;
    bottom: 0px; left: 0;
}

footer .copyright{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: white;
    color: orange;
}

nav a{
    color: white;
    font-size: 20px;
}

nav a:hover{
    color:blue;
}

.copyright{
    font-size: 20px;
    text-align: center;
}

.title_pag{
    margin-left: 20px;
}
/* Grid styles -------------------------------------------------*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
  }
.leading {
    height: 240px;
    margin-bottom: 30px;
    padding: 30px;
    color: white;
    background: url('https://cdn.glitch.com/a5121e34-96b3-4a70-8227-040c51e64fae%2Fcat.jpg?1509635989509') center #333 no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 0px 0px 5px #000;
  }
  
  .leading-bigtext {
    margin-right: 60px;
    font-weight: bold;
    font-size: 24vw;
  }
  
  @media (min-width: 100px) {
    .leading-bigtext {
      font-size: 140px;
    }
  }
  
  .leading-text {
    max-width: 900px;
    font-size: 1.2em;
    line-height: 1.4em;
  }
  
  .cards {
    max-width: 960px;
    margin: 0 auto 30px;
  }

article {
    position: relative;
    border: rgb(102, 100, 100);
    border-style: solid;
  }
article a{
    color: black;
    font-size: 20px;
}
  .article-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .article-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
  }
/* ======================== */
/* 
    Ignore the following styles. They are not important to achieve the effect.
    I'm only using them for looks (overall page background/font styles/centering content).
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* ======================== */
.icons {
    display: flex;
    column-gap: 25px;
}

.icon {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
}

.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}
