footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: orange;
    color: white;
}

footer .copyright{
    position: absolute;
    bottom: 0;
    left: 25%;
    background-color: white;
    color: orange;
}

.header .nav{
    margin-top: 2%;
    margin-left: 5%;
    font-size: 20px;
    
}

.header ul{
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}

.header .nav a{
    color:white;
}

.header .nav a:hover{
    color:rgb(255, 115, 0);
}

.header .nav .selectCity{
    color:orange;
}